.inputGrid2,
.inputGrid3 {
  width: 100%;
  display: grid;
  gap: 1.5rem;
}

.inputGrid2 {
  grid-template-columns: repeat(2, minmax(0, 1fr));
}

.inputGrid3 {
  grid-template-columns: repeat(3, minmax(0, 1fr));
}
.passwordContainer {
  position: relative;
}
.passwordContainer .chakra-icon-button {
  position: absolute;
  right: 0.5rem; /* Adjust as needed */
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
}

.selectInput > option {
  background-color: var(--primary-black) !important;
  color: white;
}

.selectInput[data-selected="true"] {
  color: white;
}
