.mainContainer {
  display: flex;
  flex-direction: row;
  position: relative;
  height: 100vh; 
}

.content {
  display: flex;
  flex: 1;
}

.mainContent {
  flex: 1;
  background-color: black;
  color: white;
  overflow-y: auto;
}
