.tableContainer {
  width: 100%;
  overflow-x: auto;
}

.table {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
  font-size: 16px;
  text-align: left;
  background-color: #b8d1db; /* Pale peachy cream background */
  font-family: "PP Fraktion Mono", monospace;
}

.table th,
.table td {
  padding: 12px 15px;
  color: #000000; /* Rich teal blue text */
}

.table th {
  background-color: #f8dad0; /* Soft, muted peach background */
  font-size: 16px;
  font-weight: 400;
}

.table tr {
  font-size: 14px;
}

.table thead th:first-child {
  border-top-left-radius: 10px;
}

.table thead th:last-child {
  border-top-right-radius: 10px;
}

.table tbody tr:last-child td:first-child {
  border-bottom-left-radius: 10px;
}

.table tbody tr:last-child td:last-child {
  border-bottom-right-radius: 10px;
}

.table tbody tr {
  transition: background-color 0.3s ease;
}

.table tbody tr:hover {
  background-color: rgba(0, 28, 68, 0.1); /* Light navy blue hover */
}

.table td:hover {
  cursor: pointer;
}
