/* Navbar.module.css */

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fae0c7; /* Pale peachy cream background */
  padding: 20px;
  height: 60px;
  position: relative;
}

.navbarLeft {
  color: #0c5776; /* Rich teal blue text */
}

.navbarRight {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbarRight button:hover {
  cursor: pointer;
}

.navbarRight p {
  color: #0c5776; /* Rich teal blue text */
}

.logoContainer {
  display: flex; /* Đặt logo và chữ nằm ngang nhau */
  align-items: center; /* Căn giữa chữ và logo theo chiều dọc */
}

.logo {
  width: auto;
  height: 40px; /* Điều chỉnh chiều cao để phù hợp */
  object-fit: contain;
}

.logoText {
  font-size: 30px; /* Điều chỉnh kích thước chữ */
  color: #0c5776; /* Rich teal blue text */
  margin-left: 10px; /* Khoảng cách giữa logo và chữ */
}

.scrollLink {
  display: flex; /* Đặt nội dung nằm ngang nhau */
  align-items: center; /* Căn giữa chữ và logo theo chiều dọc */
  text-decoration: none; /* Bỏ gạch chân mặc định nếu có */
}

.signedIn {
  display: flex;
  flex-direction: row;
}

.loggedInUser {
  display: flex;
  align-items: center;
}

.navButton {
  background: none;
  border: none;
  cursor: pointer;
  margin-right: 16px;
  color: #0c5776; /* Rich teal blue text */
}

.navButtonContainer:hover .navButton img {
  content: url("../../assets/navbar/new-project-hover.png");
}

.navButtonContainer {
  position: relative;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-right: -5px;
}

.navButtonContainer:hover .popupMenu {
  display: block;
}

.popupMenu {
  display: none;
  position: absolute;
  top: 40px;
  right: 30px;
  padding: 10px;
  border: 0.6px solid #ffa300; /* Light orange border */
  border-radius: 5px;
  z-index: 1000;
  width: 200px;
  background-color: #fff5e1; /* Light cream background */
  color: #0c5776; /* Rich teal blue text */
}

.popupMenu a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #0c5776; /* Rich teal blue text */
  font-family: "PP Fraktion Mono", monospace;
  font-size: 16px;
}

.popupMenu a img {
  margin-right: 10px;
  height: 24px;
  width: 24px;
}

.popupMenu a:hover {
  color: #ffa300; /* Light orange text */
}

.popupMenu a:hover .createService {
  content: url("../../assets/navbar/create-service-orange.svg");
}

.popupMenu a:hover .createProject {
  content: url("../../assets/navbar/create-project-orange.svg");
}

.popupMenu hr {
  border: 0;
  border-top: 1px solid #ffa300; /* Light orange border */
  margin: 5px 0;
}
