:root {
  --primary: #ffa300;
  --primary-black: #121212;
  --secondary-mono-1: #4c4c4c;
  --secondary-mono-2: #989898;
  --chakra-colors-chakra-placeholder-color: #989898 !important;
}

/*
:root {
  --primary: #ffa300;
  --primary-black: #121212;
  --secondary-mono-1: #4c4c4c;
  --secondary-mono-2: #989898;
  --chakra-colors-chakra-placeholder-color: #989898 !important;
}

*/
